extends layout

block content 
  div(ng-controller="ChatCtrl")
    h1= title
    p Bienvenido a #{title}. Por favor seleccione la sala a la cual desea unirse
    table.table.table-hover 
      tbody   
        tr 
          th
          th Numero 
          th Accion
        tr(ng-repeat="sala in salasUq")
          td Sala 
          td {{sala}}
          td 
            button.btn.btn-primary(ng-click="selectSala($index)" id="slct") Unirse
    //input(type="text" ng-model='sala' id="sala")
  block scripts
    script(src='/javascripts/angular/A_chat.js')